*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

//html, body {
//  width: 100%;
//  height: 100%;
//  margin: 0;
//  padding: 0;
//  overflow: hidden;
//}

body {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  font-size: 120%;
  line-height: 1.625;
  font-family: 'Whitney SSm A', 'Whitney SSm B', Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-perspective: 1px;
  -moz-perspective: 1px;
  -ms-perspective: 1px;
  -o-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }
body * {
  -webkit-perspective: 1px;
  -moz-perspective: 1px;
  -ms-perspective: 1px;
  -o-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

p {
  margin-bottom: 1em;
}

hr {
  margin: 4em 0;
}

.page {
  padding: 20px 20%;
  position: relative;
  top: 88%;
  background-color: white;
}

.masthead {
  position: absolute;
  top: -6%;
  left: 0;
  width: 100%;
  height: 88%;
  padding-top: 6%;
  background: url('http://benkalsky.github.io/images/intro-bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  -webkit-transform: translateZ(-0.9px) scale(1.9);
  -moz-transform: translateZ(-0.9px) scale(1.9);
  -ms-transform: translateZ(-0.9px) scale(1.9);
  -o-transform: translateZ(-0.9px) scale(1.9);
  transform: translateZ(-0.9px) scale(1.9);
  z-index: -900;
  text-align: center;
}





//@include parallax-init;

//.header {
//  position: relative;
//
//  .background {
//    //background: url('http://benkalsky.github.io/images/intro-bg.jpg') 0 0 repeat fixed;
//    background: url('http://benkalsky.github.io/images/intro-bg.jpg') no-repeat 50% 50%;
//    background-size: cover;
//    top: -20%;
//    left: 0;
//    width: 100%;
//    height: 60%;
//    padding-top: 20%;
//    position: absolute;
//    z-index: -900;
//    text-align: center;
//    @include parallax(-.9);
//  }
//}

//.parallax {
//  perspective: 1px;
//  height: 100vh;
//  overflow-x: hidden;
//  overflow-y: auto;
//  perspective-origin-x: 100%;
//
//  .parallax__group {
//    position: relative;
//    height: 100vh;
//    transform-style: preserve-3d;
//
//    .parallax__layer {
//      overflow: hidden;
//      position: fixed;
//      top: 0;
//      right: 0;
//      bottom: 0;
//      left: 0;
//      transform-origin-x: 100%;
//
//      &--base {
//        transform: translateZ(0);
//        height: 50%; /* Now the background is only 50% height */
//        transform-origin: center 100%;
//        background: url('http://benkalsky.github.io/images/intro-bg.jpg') 0 0 repeat fixed;
//      }
//      &--back {
//        transform: translateZ(-1px) scale(2);
//      }
//      &--deep {
//        transform: translateZ(-2px) scale(3);
//      }
//    }
//  }
//}
