.likes {
  padding-left: 15px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABO0lEQVR4Aa2UNVYmQRSF38xAgkOIawwrwPaCu1tXp7hThWuGw6sEZwmQ4bAAJMKdi8Pg1HdO+X1fyy/0mmQ54FJSM+CDkR54J5Nb2edM72E1cqxQetqWfGErfXUzPxVSz4mGkfCHTLEcjRBKz+MMGWSF5EmrcTT6paxpPEkoPkfo/8YnQnEUijB/K4PamxZPwKofCnu44rtN6hW0jzK4WKEcDyUhuRsbRloTd5FQetGUEC6yFR+YEsKFR94xJYQLwhmDwhmyFKeZEsJF+NYLpfd+K4MDLgJCcrKBx02mZ/z5zbtELRz0nKyaAS9b8tp3ZahBLb1FoRoOthVvfVWGLGroI0rkmJ9QvPyZDBlk6SsUlA24C8X6A5lGhr7JH0tyyfN/IsyxhzP6KfiDtaVeQMOcTBAf3+qIRl/gGpiLDyXcDy/sAAAAAElFTkSuQmCC); // base64 png
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: left center;
  color: $primary-light;
}
