$primary:        #3b5576;
$primary-light:  #7d95b4;
$border:         #e7edf3;
$sans-serif:     -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
$content-width:  850px;
$sidebar-width:  270px;
